<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>BeijiYang</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/favicon.ico">
  <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
 <div class="app-wrap">
    <header class="app-header">
      <a href="" class="button">
        <i class="fa fa-chevron-left"></i>
        Back
      </a>
      <h1>BeijiYang</h1>
      <a href="" class="button">
        <i class="fa fa-cog"></i>
        Setting
      </a>
    </header>
  <section class="sidebar">e</section>
   <div class="content">
      <%= contents %>
   </div>
   <footer class="app-footer">
     <a href="index.html">
       <i class="fa fa-home"></i>
       Home 
     </a>
          <a href="work.html">
       <i class="fa fa-diamond"></i>
       Work
     </a>

     <a href="photos.html">
       <i class="fa fa-camera-retro"></i>
       Photos
     </a>
     <a href="about.html">
       <i class="fa fa-book"></i>
       Me
     </a>
   </footer>
 </div>
</body>
</html>