$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

body {
  margin: 0;
  webkit-font-smoothing: antialiased;
  color: $secondary-text-color;
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}