.app-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column; 
}
.app-header {
  padding: 10px;
  color: $primary-color-text;
  background-color: $primary-color;
  height: 80px;
  border-bottom: 2px solid #fff59d;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
     font-size: 11px;
     color: rgba(0,0,0,0.5);
   }
   .button {
     background: rgba(0, 0, 0, 0.1);
     padding: 10px 15px;
     border-radius: 4px;
   }
  }
 
.content {
  padding: 0px;
  background-color: #fafafa;
  line-height: 1.8;
  overflow-y: scroll;
  flex-grow: 1;
}
.app-footer{
  background-color: $primary-color;
  height: 80px;
  border-top:2px solid #e6e6e6;
  flex-shrink: 0;
  display: flex;
  a {
    padding: 15px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    border-left: 2px solid rgba(0,0,0,0.1);
    flex-grow: 1;
    &:first-child {
      border-left: 0;
    }
    i {
    display: block ;
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    padding-bottom: 10px;
    }
    &:hover {
        background-color: rgba(0,0,0,0.08);
      }
  }
  a.active {
    border-bottom:4px solid $accent-color;
  }
}

.sidebar {
  display: none;
  flex-shrink: 0;
  width: 300px;
  //height: 100vh; 由于.app-wrap是flex continer,.app-sidebar就是flex item，高度自动为百分百，此行可删除。
  background-color: $primary-color;
  .name {
      text-align: center;     
      border-bottom:2px solid #fff59d;
      color: $primary-color-text;
    }
    a {
      display: block;
      padding:20px;
      font-size: 18px;
      color: $primary-text-color;
      i {
        color: white;
        margin-right: 6px;
      }
      &:hover {
        background-color: rgba(0,0,0,0.08);
      }
    }
    a.active {
      background-color: rgba(0,0,0,0.24);
      color: $primary-color-text;
    }
}

@media (min-width: 700px) {
  .app-wrap{
    flex-direction: row;
  }
  .app-header , .app-footer {
    display: none;
  }
  .sidebar {
    display: block;
    }   
}