.photo {
  margin: 0 auto;
  padding: 16px;
  
  .card {
    margin: 20px 0;
    padding:10px;
    width: 100%;
    transition: all 450ms ease; //c
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  
  img {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #eee;
  }
  .text {
    margin-top: 15px;
    margin-bottom: 15px;
    word-wrap: break-word;
  }
  &:hover {
      cursor: pointer;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.24);
  }
  }
}
@media (min-width:600px) {
  .photo {
    display: flex;
    flex-wrap: wrap;
    .card {
      margin: 16px;
      width: calc(50% - 32px);
    }
  }
}
@media (min-width:1200px) {
  .photo {
     .card {
    width: calc(33.3333% - 32px);
  }
}
}